
html {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    background-color: #aed1d1;
}

* {
    margin: 0;
}

main {

}

header {
    font-size: 1.7rem;
    list-style-type: none;
    text-align: center;
}

header, .up-panel {
    background: #898383;
    max-height: 100px;


}

.top-bar {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    /*background-color:dodgerblue;*/
}

.top-bar > div {
    width: 100px;

    /*background-color: #bd1212;*/

}
.top-bar > div span {
    white-space: nowrap;
}

* a {
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

* a:hover {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;

}


.logo {
    height: 80px;
    margin: 4px;
    padding-right: 350px;
    padding-top: 5px;
}

.abme {
    text-align: center;
    font-size: 40px;
    color: #898383;
    padding: 40px;
    text-shadow: white 3px -4px;
}

.wetxt {
    text-shadow: white -3px 4px;
    font-size: 40px;
    padding: 40px;
    text-align: center;
    color: #898383;
}

.info-text-boxes {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-text-box > div {
    padding-right: 20px;

    width: 20%;
}

.textbox {
    margin-right: 20%;
    margin-top: 1%;
    max-width: 50%;
    padding: 10px;
    background: #898383;
    color: white;
    border-width: 5px;
    border-style: solid;
}

.about {
    padding-right: 10px;
}

 header 


@media screen and (max-width: 877px) {
    /*.top-bar {*/
    /*    flex-wrap: wrap;*/
    /*    width: clamp(600px, 50%, 700px);*/

    }
    .up-panel{
        max-width: 1px;
    }

    .top-bar > div{

    }
    .logo {
        height: 80px;

    }

    .toril, .contacts{
        padding-right: 2px;

    }

}
