
html {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    background-color: #aed1d1;
}

* {
    margin: 0;
}

button:hover {
    color: black;
}

header {
    font-size: 2rem;
    text-align: center;
}

header {
    background: #898383;
    max-height: 120px;
}

.top-bar {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    /*background-color:dodgerblue;*/
    justify-content: space-between;
    align-items: center;

}

.buttons {
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
    display: flex;
    margin: 20px;
    /*padding-top: 10px;*/
    /*gap: 20px;*/
    justify-content: space-between;
    text-decoration: underline;
}

.links {
    display: flex;
    flex-direction: row;
    padding-right: 470px;
    gap: 10px;
}

.top-bar > div {
    width: 100px;
}

.top-bar > div span {
    white-space: nowrap;
}

header a {
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

main a {
    text-decoration: underline;
    color: white;
}

a:hover {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
}

.droneshots {
    /*padding-left: 60%;*/
    padding-right: 2%;
}

.logo {
    height: 100px;
    margin: 4px;
    padding-top: 5px;
}

.abme {
    text-align: center;
    font-size: 60px;
    color: #898383;
    padding: 40px;
    text-shadow: white 3px -4px;
}

.wetxt {
    text-shadow: white -3px 4px;
    font-size: 60px;
    padding: 40px;
    text-align: center;
    color: #898383;
}

.info-text-boxes {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-text-box > div {
    padding-right: 20px;

    width: 20%;
}

.textbox {
    margin-right: 20%;
    margin-top: 1%;
    max-width: 50%;
    padding: 10px;
    background: #898383;
    color: white;
    border-width: 5px;
    border-style: solid;
}

.about {
    padding-right: 10px;
}

.content-photos {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin: 20px;
    padding-top: 3px;
    /*gap: 20px;*/
    justify-content: space-evenly;
}

.img-template1 {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}

.vid-template1 {
    width: 100%;
    max-width: 750px;
    height: auto;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}

.desc-template1 {
    background: #898383;
    color: white;
    padding: 10px;
    border-color: white;
    border-style: solid;
    font-size: 20px;
    border-width: 5px;
    max-width: 680px;
    border-radius: 20px;

}


.img-template2 {
    height: 100%;
    width: 100%;
    max-height: 700px;
    max-width: 400px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;

}

.id-template1 {
    background: #898383;
    color: white;
    padding: 5px;
    border-color: white;
    border-style: solid;
    max-width: 42px;
    border-radius: 10px;
    border-width: 4px;

}

.id-template2 {
    background: #898383;
    color: white;
    padding: 5px;
    border-color: white;
    border-style: solid;
    max-width: 57px;
    border-radius: 10px;
    border-width: 4px;

}

.id-placement {
    padding-bottom: 3px;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.map-template1 {
    border-radius: 20px;
    width: 100%;
    max-width: 750px;
    height: auto;
}

.desc-template2 {
    background: #898383;
    color: white;
    padding: 5px;
    border-color: white;
    border-style: solid;
    font-size: 20px;
    border-width: 5px;
    max-width: 740px;
    border-radius: 20px;

}

.button-template {
    background: #898383;
    color: white;
    padding: 5px;
    border-color: white;
    border-style: solid;
    font-size: 20px;
    border-width: 5px;
    border-radius: 10px;
    text-decoration: white;

}

.flag-settings{
    width: 250px;
    flex-direction: row;
    border-style: solid;
    /*font-size: 20px;*/
    padding: 10px;
    border-width: 5px;
    border-radius: 10px;
}

footer a {
    color: white;

}

footer {
    padding-top: 200px;

}

.down-info {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*position: relative;*/
    top: 0;
    width: 100%;
    background: #898383;
}

.copyrights {
    padding: 30px;
    color: white;

}

.contacts {
    color: white;
    align-content: center;
    padding-right: 15px;
}

.lang-box {
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    z-index: 1;

}

.lang_questions {
    width: 700px;
    height: 500px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    background-color: #898383;
    /*padding: 5px;*/
    border-color: white;
    border-style: solid;
    font-size: 20px;
    border-width: 5px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;

}

@media screen and (max-width: 780px) {
    .links {
        display: flex;
        flex-direction: column;
        font-size: 19px;
        padding-right: 50px;
        align-items: start;
    }

    .abme, .wetxt {
        font-size: 3.9rem;
    }

    .logo {
        height: 110px;
    }

    header {
        max-height: 600px;
    }

    .top-bar {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        width: 100%;
        /*background-color:dodgerblue;*/
        justify-content: space-between;
        align-items: center;
        /*gap: 110px;*/

    }

}