header,
.up-panel{
  position: absolute;
  top: -1px;
  left: -1px;
  width: 9000px;
  height: auto;
  background: #898383;
}
.logo{
  margin: 5px ;
  width: 100px;
  height: auto;
}
.am-link, .am-link:hover, .am-link:active, .am-link:visited{color: #05e0f2; }
.am-link{
  text-decoration: none;
  position: absolute;
  top: 35px;
  padding-left: 1000px;
  font-size: 35px;
}
